BookWorld WEB/Connected Services/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Microsoft.ServiceModel.Samples">
      <s:element name="ПолучитьСправочникТоварыJSON">
        <s:complexType />
      </s:element>
      <s:element name="ПолучитьСправочникТоварыJSONResponse">
        <s:complexType />
      </s:element>
      <s:element name="ПолучитьСправочникТоварыXML">
        <s:complexType />
      </s:element>
      <s:element name="ПолучитьСправочникТоварыXMLResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ПолучитьСправочникТоварыJSONSoapIn">
    <wsdl:part name="parameters" element="tns:ПолучитьСправочникТоварыJSON" />
  </wsdl:message>
  <wsdl:message name="ПолучитьСправочникТоварыJSONSoapOut">
    <wsdl:part name="parameters" element="tns:ПолучитьСправочникТоварыJSONResponse" />
  </wsdl:message>
  <wsdl:message name="ПолучитьСправочникТоварыXMLSoapIn">
    <wsdl:part name="parameters" element="tns:ПолучитьСправочникТоварыXML" />
  </wsdl:message>
  <wsdl:message name="ПолучитьСправочникТоварыXMLSoapOut">
    <wsdl:part name="parameters" element="tns:ПолучитьСправочникТоварыXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ПолучитьСправочникТоварыJSON">
      <wsdl:input message="tns:ПолучитьСправочникТоварыJSONSoapIn" />
      <wsdl:output message="tns:ПолучитьСправочникТоварыJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ПолучитьСправочникТоварыXML">
      <wsdl:input message="tns:ПолучитьСправочникТоварыXMLSoapIn" />
      <wsdl:output message="tns:ПолучитьСправочникТоварыXMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ПолучитьСправочникТоварыJSON">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/ПолучитьСправочникТоварыJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ПолучитьСправочникТоварыXML">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/ПолучитьСправочникТоварыXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ПолучитьСправочникТоварыJSON">
      <soap12:operation soapAction="http://Microsoft.ServiceModel.Samples/ПолучитьСправочникТоварыJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ПолучитьСправочникТоварыXML">
      <soap12:operation soapAction="http://Microsoft.ServiceModel.Samples/ПолучитьСправочникТоварыXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://praktika.somee.com/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://praktika.somee.com/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>